*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
     flex-wrap: wrap;
}
.container{
    width: 80%;
    margin: auto;
}

